language: python
python:
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6"
  - "3.6-dev" # 3.6 development branch
  - "3.7-dev" # 3.7 development branch
  - "nightly"

env:
  - DJANGO=1.11 DB=sqlite

before_install:
    - pip3 install -r requirements.txt
    - pip3 install coveralls

script:
  - python3 manage.py makemigrations
  - python3 manage.py migrate
  - python3 manage.py test
  - coverage run manage.py

after_success:
    - coveralls
